* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

[class$="btn"] {
    font-size: 20px;
    border: none;
    outline: none;
    padding: 10px 30px;
    border-radius: 5px;
    background-color: lightgrey;
    transition: all 0.4s ease;
}

[class$="btn"]:hover {
    cursor: pointer;
    filter: brightness(125%);
}

body {
    display: grid;
    place-items: center;
    height: 100vh;
}


[class|=success] {
    background-color: forestgreen;
    color: #fff;
}

[class|=error] {
    background-color: tomato;
    color: #fff;
}

[class|=warning] {
    background-color: orange;
    color: #fff;
}

[class|=info] {
    background-color: dodgerblue;
    color: #fff;
}