* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
    height: 100vh;
    overflow: hidden;
}

[class$="btn"] {
    font-size: 20px;
    border: none;
    outline: none;
    padding: 10px 30px;
    border-radius: 5px;
    background-color: lightgrey;
    transition: all 0.4s ease;
    color: #fff;
}

[class$="btn"]:hover {
    cursor: pointer;
    filter: brightness(125%);
}

[class|=success] {
    background-color: forestgreen;
}

[class|=error] {
    background-color: tomato;
}

[class|=warning] {
    background-color: orange;
}

[class|=info] {
    background-color: dodgerblue;
}

.alert {
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: lightblue;
    padding: 10px 20px;
    border-radius: 10px;
    right: -600px;
    transition: all 0.4s ease;
}

.show {
    animation: show 0.4s forwards;
}

.hide {
    animation: hide 0.4s backwards;
}

@keyframes show {
    100% {
        right: 10px;
    }
}

@keyframes hide {
    100% {
        right: -600px;
    }
}