@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #e3f2fd;
}

.popup{
    position: absolute;
    right: 10px;
    top: 10px;
    width: 400px;
    background-color: #fff;
    border-radius: 5px;
    border-top: 3px solid #ea4d67;
    padding: 13px 17px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    align-items: center;
}

.popup .icon i{
    width: 40px;
    height: 40px;
    background-color: #ea4d67;
    color: #fff;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    margin-right: 15px;
}

.popup .title{
    font-size: 1.2rem;

}

.popup .desc{
    color: #474747;
    font-size: 1.04rem;
    margin: 3px 0 10px;
}

.uil-wifi{
    background-color: rgb(0, 220, 29)!important;
}

.success-connection{
    border-top: 3px solid rgb(0, 220, 29);
}